@use '../utilities/variables' as *;

.site-footer {
  background-color: $color-secundario;
  color: $color-texto-claro;
  padding: 1.5rem;
  text-align: center;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.75rem;

  a {
    color: $color-acento;
  }
}
